---
import Base from '../layouts/Base.astro';
import ExhibitImage from '../components/exhibit/ExhibitImage.svelte';

import './index.css';

const { id } = Astro.params;

const response = await fetch('http://localhost:3000/collection/' + id);
const data = await response.json();
---
<Base>
	<main>
    <div class="wrapper">
      <h1>Meine Sammlung</h1>

      <ul>
        {data.items?.map(item => (
          <li>
            <ExhibitImage client:only src={item.image_url} alt={item.title || `Thumbnail ${item.id}`} />
          </li>
        ))}
      </ul>
    </div>
  </main>
</Base>

<style>
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 2em;
    padding-bottom: 0.5em;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
    line-height: 160%;
  }

  ul {
    display: inline-block;
  }

  li {
    display: block;
    padding: 0;
    display: inline-block;
    margin: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  }
</style>