---
import Base from '../layouts/Base.astro';
import ExhibitImage from '../components/exhibit/ExhibitImage.svelte';

import './index.css';

const { id } = Astro.params;

const host = import.meta.env.API_HOST;
const port = import.meta.env.API_PORT;

const response = await fetch(`http://${host}:${port}/collection/${id}`);
const data = await response.json();

console.log(id);
console.log(data);
---
<Base>
	<main>
    <div class="wrapper">
      {id.items ? (
        <h1>Meine Sammlung</h1>

        <ul>
          {data.items?.map(item => (
            <li>
              <ExhibitImage client:only item={item} />
            </li>
          ))}
        </ul>
      ) : (
        <div class="not-found">
          <h1>404 Not Found</h1>
          <p>Hier gibt's leider nichts zu sehen. <a href="/">Erfahre mehr über LiviaAI</a>.</p>
        </div>
      )}
    </div>
  </main>
</Base>

<style>
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
  }

  h1 {
    font-size: 2em;
    padding-bottom: 0.5em;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
    line-height: 160%;
  }

  p {
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
  }

  a {
    text-decoration: underline;
  }

  ul {
    display: inline-block;
  }

  li {
    display: block;
    padding: 0;
    display: inline-block;
    margin: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  }
</style>