---
import Base from '../layouts/Base.astro';
import Tutorial from '../components/tutorial/Tutorial.svelte';
import './index.css';
---
<Base>
	<main>
    <Tutorial client:load lang="de" />
  </main>
</Base>