---
import Base from '../layouts/Base.astro';
import Tutorial from '../components/tutorial/Tutorial.svelte';
import './index.css';
---
<Base>
  <header>
    <a href="/imprint">Impressum</a>
  </header>

	<main>
    <Tutorial client:load lang="de" />
  </main>
</Base>

<style>
  header {
    color: #fff;
    position: absolute;
    top: 30px;
    right: 30px;
  }

  header a:hover {
    text-decoration: underline;
  }
</style>